/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  max-width: 1440px;
  margin: 100px auto 0;
  min-width: 320px;
  /*min-block-size: 100dvb;*/
  background-image: repeating-linear-gradient(
      to right,
      var(--gradient-row) 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(
      to bottom,
      var(--gradient-col-primary) 0 2px,
      transparent 2px 4px
    ),
    linear-gradient(
      to bottom,
      var(--gradient-col-primary) 0.01%,
      var(--gradient-col-secondary)
    );
  background-size: cover;
  background-attachment: fixed;
  color: var(--accent-color);
}

.header {
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
  padding-top: 9.44%;
  padding-bottom: 25px;
}

.content {
  width: var(--main-width);
  margin: 0 auto;
}

.header__logo {
  font-family: var(--decor-font, sans-serif);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-align: center;
  font-weight: 400;
  display: block;
  text-transform: uppercase;
  margin-bottom: 2.87%;
  line-height: 100%;
}

.header__heading {
  font-family: var(--decor-font, sans-serif);
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  font-weight: 400;
  margin-bottom: 25px;
  text-align: center;
  text-transform: uppercase;
  line-height: 100%;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.theme-menu__button {
  border: none;
  background-color: transparent;
  font-family: var(--decor-font, sans-serif);
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
  padding: 0;
}

.theme-menu__button:disabled.theme-menu__button:before {
  content: '▶';
  display: inline-block;
  animation: menu-arrow linear 0.6s infinite alternate;
}

@keyframes menu-arrow {
  from {
    transform: translateX(-10px);
  }
  to {
    transform: translateX(0);
  }
}
