/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --bg-color: #fff;
  --accent-color: #000;
  --gradient-row: #d3d3d3;
  --gradient-col-primary: #e7e7e7;
  --gradient-col-secondary: #1a1a1a;
  --main-width: clamp(375px, 49%, 700px);
}
